/* Global Styles */

/* ------------------------------- */

body {
    background-color: #f8f8f8;
    background-image: url('../images/pattern-4.png');
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Roboto' !important;
}

/* Wrappers */

/* ------------------------------- */

.main_wrapper{
    width: 84% !important;
    margin: 0 auto !important;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

#wrapper {
    width: 100%;
    /* position: fixed;*/
    top: 0;
    z-index: 110;
}

.wrapper{
    width: 84% !important;
}
    
#header{
    position: fixed !important;
    width: 84% !important;
    z-index: 300 !important;
}

.navbar-static-top{
    width: 84% !important;
    position: fixed !important;
}

header#header{
    //height: 70px;
    //width: 84% !important;
    //position:fixed !important;
}

#page-wrapper {
    /*width: 87% !important;
    margin: 0 auto !important;*/
    padding: 0 15px !important;
    padding-top: 90px !important;
    min-height: 100vh;
    background-color: #fff;
    background-image: url('../img/slides/bg/001.jpg') !important;
    background-repeat: no-repeat;
      /*height: 70%;
      text-align: center;*/
      background-position: center center;
}

#page-wrapper .row{
    /*background-color: green !important;
    background-image: url('../img/slides/bg/001.jpg') !important;
    background-position: center center;*/
}



@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        padding-top: 90px !important;
        min-height: 100vh;
        border-left: 1px solid #e7e7e7;
    }
}

/*#page-wrapper .col-lg-12{
    width: 70%;
    margin-left: 30 !important;
}*/

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}

/* Navigation */

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    margin: 0 !important;
    min-height: 0;
    color: #34425A !important;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

 .sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

/* Buttons */

/* ------------------------------- */

 .btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* Pages */

/* ------------------------------- */

/* Dashboard Chat */

 .chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

/* Login Page */

 .login-panel {
    margin-top: 25%;
}

/* Flot Chart Containers */

 .flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* DataTables Overrides */

 table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* Circle Buttons */

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}


/**
 * ADDED MODIFICATIONS
 */
*{
    border-radius: 0px !important;
}

/*li a:hover,
li a:focus,
li a:active{
    background: #DBE5F2 !important;
}*/

/* SIDE MENU */
#side-menu li ul li a{
    padding-left: 40px !important;
    background: #DBE5F2;
}

#side-menu li a i{
    margin-right: 5px !important;
}

/**
 * TOP NAVBAR
 */
.navbar-static-top{
    border: none;
    background: #fff; #3367D6;
    height: auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.navbar-brand{
    color: #3367D6 !important;
    //padding: 20px 10px;
}

.dropdown-menu{
    min-width: 140px;
    border-radius: 1px;
    border: none !important;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

.dropdown-menu li a{
    padding: 7px;
}

.dropdown-menu li.divider{
    margin: 5px 0;
}

.navbar-top-links li a{
    padding: 20px 10px;
    margin: 5px 0;
    min-height: 60px;
    text-transform: uppercase;
    color: #3367D6 !important;
    transition: all linear 0.2s;
}

.navbar-top-links li a:hover,
.navbar-top-links li a:focus,
.navbar-top-links li a:active{
    //background: #fff;
    background: #555;
    color: #fff !important;
    transition: all linear 0.2s;
}

/**
 * SIDEBAR Links
 */
.navbar-static-side{
    padding-top: 120px !important;
    margin-top: 0 !important;
    position: fixed;
    overflow-y: auto;
    top: 0;
    z-index: 120;
    height: 100vh !important;
    border: none;
}

/**
 * DASHBOARD BACKGROUNDS
 */
